<div id="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> 
  <br> 
  <strong>encuentra 
    <br>   
    <br>trabajo ya!</strong>
</div>
<div id="cards">
  <ion-card>
    <img src="../../assets/img/limon3.jpg">
    <ion-card-content>
      <ion-card-title>Card Title</ion-card-title>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/limon4.jpeg">
    <ion-card-content>
      <ion-card-title>Card Title</ion-card-title>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/limon5.jpg">
    <ion-card-content>
      <ion-card-title>Card Title</ion-card-title>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  
</div>