#container {
  text-align: left;

  background: url("../../assets/img/port5.jpg");
  background-size: cover;
  height: 80%;

  //position: cover;
  left: 0;
  right: 0;
  top: 50%;
}

#container strong {
  font-size: 60px;
  color: white;
  line-height: 20px;
  top: 60%;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  margin: 0;
}

#container a {
  text-decoration: none;
}