ion-item{
    --border-width: 0;
    --inner-border-width: 0;
}

ion-input{
    border-radius: 10px !important;
    --background: #f5f5f5;
   padding-right: 30px;
    font-size: 0.9em;
   //--background: rgb(219,219,219);
    /* height: 10%; */
    /* width: 41%; */
    max-width: 75%; // this is applying perfectly
    max-height: 10vh;
}